<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ktdsuniversity.edu.pms.knowledge.dao.KnowledgeRecommendDao">
  
  	<resultMap type="com.ktdsuniversity.edu.pms.knowledge.vo.KnowledgeRecommendVO" 
	id="knowledgeRecommendVOMap" autoMapping="true">
	<id column="REC_ID" property="recId" /><!-- pk -->
	<result column="EMP_ID" property="empId" /><!-- join value -->
	
	<!-- join table -->
	<!-- 
	<association property="employeeVO" 
		javaType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
			<id column="EMP_ID" property="empId" />
			<result column="EMP_ID" property="empId" />
	</association>
	  -->
	</resultMap>

	
	
	
	<!-- 1사원 1추천 -->
	<select id="selectOneRecommend" 
	parameterType="com.ktdsuniversity.edu.pms.knowledge.vo.KnowledgeRecommendVO"
	resultMap="knowledgeRecommendVOMap">
		SELECT REC_ID
			 , P_POST_ID
			 , CRTR_ID
			 , REC_YN
		  FROM RECOMMEND 
		 WHERE P_POST_ID = #{pPostId}
		   AND CRTR_ID = #{crtrId}
	</select> 
	
	
	<insert id="insertOneRecommend" parameterType="com.ktdsuniversity.edu.pms.knowledge.vo.KnowledgeRecommendVO">
		INSERT INTO RECOMMEND 
		( REC_ID
		, P_POST_ID
		, CRTR_ID
		, REC_YN 
		)
		VALUES
		( SEQ_RECOMMEND_PK.NEXTVAL
		, #{pPostId}
		, #{crtrId}
		, 'Y'
		)
	</insert> 

	
	<select id="selectOneRecommendCount"
			parameterType="String"
			resultType="_int">
	SELECT COUNT(1)
  	FROM RECOMMEND
 	WHERE P_POST_ID = #{parameter}
 	AND  REC_YN = 'Y'
	</select>
	
</mapper>