<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.supply.dao.SupplyDao">

	<select id="searchSupplyAllCount"
			parameterType="com.ktdsuniversity.edu.pms.supply.vo.SearchSupplyVO"
			resultType="_int">
		SELECT COUNT(1)
		  FROM (SELECT s.*
					 , REPLACE(s.SPL_NAME, ' ', '') SEARCH_SPL_NAME
					 , REPLACE(s.SPL_CTGR, ' ', '') SEARCH_SPL_CTGR
					 , REPLACE(#{searchKeyword}, ' ', '') AS SEARCH_KEYWORD
				  FROM SUPPLY s)
		 WHERE DEL_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
			<choose>
				<when test='searchType == "splName"'>
		   AND SEARCH_SPL_NAME LIKE '%' || SEARCH_KEYWORD || '%'
				</when>
				<when test='searchType == "splCtgr"'>
		   AND SEARCH_SPL_CTGR LIKE '%' || SEARCH_KEYWORD || '%'
				</when>
			</choose>
		</if>
	</select>

	<select id="searchAllSupply"
			parameterType="com.ktdsuniversity.edu.pms.supply.vo.SearchSupplyVO"
			resultType="com.ktdsuniversity.edu.pms.supply.vo.SupplyVO">
		<include refid="Common.pagenate_header" />
		SELECT *
		  FROM (SELECT SPL_ID
					 , SPL_NAME
					 , SPL_CTGR
					 , SPL_PRICE
					 , INV_QTY
					 , DEL_YN
					 , SPL_IMG
					 , SPL_DTL
					 , SPL_REGT_ID
					 , SPL_MDFR_ID
					 , SPL_REGT_DT
					 , SPL_MDF_DT
					 , REPLACE(SPL_NAME, ' ', '') AS SEARCH_SPL_NAME
					 , REPLACE(SPL_CTGR, ' ', '') AS SEARCH_SPL_CTGR
					 , REPLACE(#{searchKeyword}, ' ', '') AS SEARCH_KEYWORD
		  		  FROM SUPPLY)
		 WHERE DEL_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
			<choose>
				<when test='searchType == "splName"'>
		   AND SEARCH_SPL_NAME LIKE '%' || SEARCH_KEYWORD || '%'
				</when>
				<when test='searchType == "splCtgr"'>
		   AND SEARCH_SPL_CTGR LIKE '%' || SEARCH_KEYWORD || '%'
				</when>
			</choose>
		</if>		
		<include refid="Common.pagenate_footer" />
	</select>
	
	<select id="selectOneSupply" 
			parameterType="String" 
			resultType="com.ktdsuniversity.edu.pms.supply.vo.SupplyVO">
		SELECT SPL_ID
			 , SPL_NAME
			 , SPL_CTGR
			 , SPL_PRICE
			 , INV_QTY
			 , DEL_YN
			 , SPL_IMG
			 , SPL_DTL
			 , SPL_REGT_ID
			 , SPL_MDFR_ID
			 , SPL_REGT_DT
			 , SPL_MDF_DT
		  FROM SUPPLY
		 WHERE DEL_YN = 'N'
		   AND SPL_ID = #{_parameter}
	</select>
	
	<insert id="registerNewSupply" 
			parameterType="com.ktdsuniversity.edu.pms.supply.vo.SupplyVO">
		INSERT INTO SUPPLY
		 (SPL_ID
		, SPL_NAME
		, SPL_CTGR
		, SPL_PRICE
		, INV_QTY
		, DEL_YN
		, SPL_IMG
		, SPL_DTL
		, SPL_REGT_ID
		, SPL_MDFR_ID
		, SPL_REGT_DT
		, SPL_MDF_DT)
		VALUES
		 ('SPL_' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_SUPPLY_PK.NEXTVAL, 6, '0')
		, #{splName}
		, #{splCtgr}
		, #{splPrice}
		, #{invQty}
		, 'N'
		, #{splImg}
		, #{splDtl}
		, #{splRegtId}
		, NULL
		, SYSDATE
		, NULL)
	</insert>

	<update id="updateOneSupply"
			parameterType="com.ktdsuniversity.edu.pms.supply.vo.SupplyVO">
		UPDATE SUPPLY 
		   SET SPL_NAME = #{splName}
		     , SPL_CTGR = #{splCtgr}
		     , SPL_PRICE = #{splPrice}
		     , INV_QTY = #{invQty}
		     , SPL_IMG = #{splImg}
		     , SPL_DTL = #{splDtl}
		     , SPL_MDFR_ID = #{splMdfrId}
		     , SPL_MDF_DT = SYSDATE
		 WHERE SPL_ID = #{splId}
	</update>
	
	<update id="deleteOneSupply" 
			parameterType="com.ktdsuniversity.edu.pms.supply.vo.SupplyVO">
		UPDATE SUPPLY
		   SET DEL_YN = 'Y'
		     , SPL_MDFR_ID = #{splMdfrId}
		     , SPL_MDF_DT = SYSDATE
		 WHERE SPL_ID = #{splId}
	</update>

</mapper>