<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.issue.dao.IssueReplyDao">

	<resultMap type="com.ktdsuniversity.edu.pms.issue.vo.IssueReplyVO" 
  			   id="issueReplyVOMap"
  			   autoMapping="true">
  		<id column="RPL_ID" property="rplId" />
  		<association property="employeeVO"
  					 javaType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
  			<id column="EMP_ID" property="empId" />
  			<result column="EMP_NAME" property="empName" />
  		</association>
  	</resultMap>
  
	<select id="getAllReplies" 
			parameterType="com.ktdsuniversity.edu.pms.issue.vo.IssueReplyVO" 
			resultMap="issueReplyVOMap">
		SELECT LEVEL
		     , R.RPL_ID
		     , R.RPL_PID
		     , R.RPL_CNTNT
		     , R.P_POST_ID
		     , R.PICK_YN
		     , TO_CHAR(R.CRT_DT, 'YYYY-MM-DD') CRT_DT
		     , R.CRTR_ID
		     , TO_CHAR(R.MDF_DT, 'YYYY-MM-DD') MDF_DT
		     , R.MDFR_ID
		     , R.DEL_YN
		     , E.EMP_ID
		     , E.EMP_NAME
		  FROM REPLY R
		 INNER JOIN EMPLOYEE E
		    ON R.CRTR_ID = E.EMP_ID
		 START WITH R.P_POST_ID = #{pPostId}
		   AND R.RPL_PID IS NULL
		CONNECT BY PRIOR R.RPL_ID =R.RPL_PID
	</select>
	
	<select id="getOneReply" 
			parameterType="string" 
			resultMap="issueReplyVOMap">
		SELECT R.RPL_ID
		     , R.RPL_PID
		     , R.RPL_CNTNT
		     , R.P_POST_ID
		     , R.PICK_YN
		     , TO_CHAR(R.CRT_DT, 'YYYY-MM-DD') CRT_DT
		     , R.CRTR_ID
		     , TO_CHAR(R.MDF_DT, 'YYYY-MM-DD') MDF_DT
		     , R.MDFR_ID
		     , R.DEL_YN
		     , E.EMP_ID
		     , E.EMP_NAME
		  FROM REPLY R
		 INNER JOIN EMPLOYEE E
		    ON R.CRTR_ID = E.EMP_ID
		 WHERE R.RPL_ID = #{_parameter}
	</select>
	
	<insert id="createNewIssueReply"
			parameterType="com.ktdsuniversity.edu.pms.issue.vo.IssueReplyVO">
		INSERT INTO REPLY
			 (RPL_ID
			, RPL_PID
			, RPL_CNTNT
			, P_POST_ID
			, CRT_DT
			, CRTR_ID
			, MDF_DT
			, MDFR_ID
			, DEL_YN)
		VALUES
			 (('RPL_' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_REPLY_PK.NEXTVAL, 6, '0'))
			, #{rplPid}
			, #{rplCntnt}
			, #{pPostId}
			, SYSDATE
			, #{crtrId}
			, NULL
			, NULL
			, 'N')
	</insert>
	
	<update id="deleteOneIssueReply"
			parameterType="string">
		UPDATE REPLY
		   SET DEL_YN = 'Y'
		 WHERE RPL_ID = #{_parameter}
	</update>
	
	<update id="modifyOneIssueReply"
			parameterType="com.ktdsuniversity.edu.pms.issue.vo.IssueReplyVO">
		UPDATE REPLY
		   SET RPL_CNTNT = #{rplCntnt}
		     , MDF_DT = SYSDATE
		 WHERE RPL_ID = #{rplId}
	</update>
</mapper>