<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.team.dao.TeamDao">
	
	<insert id="createNewTeam"
			parameterType="com.ktdsuniversity.edu.pms.team.vo.TeamVO">
		INSERT INTO TEAM (
			   TM_ID
		     , TM_CR_DT
		     , TM_NAME
		     , DEPT_ID
		     , DEL_YN
		     , TM_LEAD_ID)
			VALUES (
		       'TEAM_' || SUBSTR(TO_CHAR(SYSDATE, 'YYYYMMDD'),3)|| '_' ||LPAD(SEQ_TEAM_PK.NEXTVAL,6,0)
		     , SYSDATE
		     , #{tmName}
		     , #{deptId}
		     , 'N'
		     , #{tmLeadId})
		      
	</insert>
	
	<select id="getOneTeam"
	        parameterType="string"
	        resultType="com.ktdsuniversity.edu.pms.team.vo.TeamVO">
		SELECT T.TM_ID
			 , TO_CHAR(T.TM_CR_DT, 'YYYY-MM-DD') TM_CR_DT
			 , T.TM_NAME
			 , T.DEPT_ID
			 , T.DEL_YN
			 , T.TM_LEAD_ID
			 , E.EMP_NAME
			 , E.EMAIL
		  FROM TEAM T
   	     INNER JOIN EMPLOYEE E
       	    ON E.EMP_ID  = T.TM_LEAD_ID 
		 WHERE T.TM_ID = #{_parameter}    
      	   AND T.DEL_YN ='N'
	        
	</select>
	<select id="getOnlyTeam"
	        resultType="com.ktdsuniversity.edu.pms.team.vo.TeamVO">
		SELECT TM_ID
			 , TM_NAME
		  FROM TEAM    
	        
	</select>
	
	<update id="updateOneTeam"
			parameterType="com.ktdsuniversity.edu.pms.team.vo.TeamVO">
		UPDATE TEAM
		   SET TM_NAME = #{tmName}
		   	 , TM_LEAD_ID = #{tmLeadId}
		 WHERE TM_ID = #{tmId}
	</update>
	
	<select id="getAllTeamList"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.pms.team.vo.TeamVO">
		SELECT T.TM_ID
          	 , TO_CHAR(T.TM_CR_DT, 'YYYY-MM-DD') TM_CR_DT
          	 , T.TM_NAME
          	 , T.DEPT_ID
          	 , T.TM_LEAD_ID
          	 , E.EMP_NAME
          	 , E.EMAIL
       	  FROM TEAM T
       	 INNER JOIN EMPLOYEE E
       	    ON E.EMP_ID  = T.TM_LEAD_ID 
      	 WHERE T.DEPT_ID = #{_parameter}
           AND T.DEL_YN ='N'
	</select>
	<select id="countTeamInDepartement"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM TEAM
		 WHERE DEL_YN = 'N'
		   AND DEPT_ID = #{_parameter}
		
	</select>
	
	<select id="isPossibleDelete"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM ASSIGNMENT
		 WHERE DEL_YN = 'N'
		   AND TM_ID = #{_parameter}
	</select>
	
	<update id="deleteOneTeam"
			parameterType="string">
		UPDATE TEAM
		   SET DEL_YN = 'Y'
		 WHERE TM_ID = #{_parameter}
	</update>
	
	<select id="getaAllTeam">
		SELECT DISTINCT TM_LEAD_ID  FROM TEAM
	</select>
	
	<select id="getAllEmployeeInTeam" parameterType="string" resultType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
		SELECT E.EMP_ID
		     , E.EMP_NAME
		     , E.PSTN_ID
		     , C.CMCD_NAME
		     , E.EMAIL
		  FROM EMPLOYEE E
		 INNER JOIN COMMON_CODE C
		    ON E.PSTN_ID = C.CMCD_ID
		 WHERE E.TM_ID = #{_parameter}
		   AND E.END_DT IS NULL
		   AND E.WORK_STS != '204'
	</select>
	

</mapper>