<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.team.dao.TeamApprovalDao">
	
	<insert id="insertTeamApprovalRequest" 
		parameterType="com.ktdsuniversity.edu.pms.team.vo.TeamApprovalVO">
		<selectKey keyProperty="tmApprId" resultType="string" order="BEFORE">
				SELECT 'TM_APPR_' || SUBSTR(TO_CHAR(SYSDATE, 'YYYYMMDD'),3) || '_' || LPAD(SEQ_TM_APPR_PK.NEXTVAL, 6, '0')
				  FROM DUAL
			</selectKey>
			
			INSERT INTO TEAM_APPROVAL
			     ( TM_APPR_ID
				 , TM_APPR_TYPE
				 , TM_ID
				 , TM_NAME
				 , DEPT_ID
				 , TM_LEAD_ID
				 , DEL_YN
				 , TM_APPR_YN
				 , TM_APPR_REQTR
				 , TM_APPR_REASON)
			VALUES
			     ( #{tmApprId}
				 , #{tmApprType}
				 , #{tmId}
				 , #{tmName}
				 , #{deptId}
				 , #{tmLeadId}
				 , #{delYn}
				 , 'N'
				 , #{tmApprReqtr}
				 , #{tmApprReason})
	</insert>

</mapper>