<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.login.dao.CommuteDao">

	<!-- <resultMap type="com.ktdsuniversity.edu.pms.login.vo.CommuteVO" id="CommuteVOMap" autoMapping="true">
		<id column="CMMT_ID" property="cmmtId" />
		<association property="employeeVO" javaType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
			<id column="EMP_ID" property="empId" />
			<result column="EMP_NAME" property="empName" />
		</association>
	</resultMap> -->

	<select id="getAllCommuteData"
			resultType="com.ktdsuniversity.edu.pms.login.vo.CommuteVO">
			SELECT CMMT_ID
			     , CMMT_DATE
			     , CMMT_TIME
			     , FNSH_TIME
			     , EMP_ID
			     , DEL_YN
			  FROM COMMUTE 
			 ORDER BY CMMT_DATE DESC
	</select>

	<!-- <select id="getAllCommuteData"
			resultType="CommuteVOMap">
			SELECT C.CMMT_ID
			, C.CMMT_DATE
			, C.CMMT_TIME
			, C.FNSH_TIME
			, E.EMP_NAME
			, C.DEL_YN
			FROM COMMUTE C
			JOIN EMPLOYEE E
			ON C.EMP_ID = E.EMP_ID
			ORDER BY CMMT_DATE DESC
	</select> -->
<!-- 

	<select id="getAllCommuteDataByEmpId"
			parameterType="string"
			resultType="CommuteVOMap">
			SELECT C.CMMT_ID
			     , C.CMMT_DATE
			     , C.CMMT_TIME
			     , C.FNSH_TIME
			     , E.EMP_NAME 
			     , C.DEL_YN
			  FROM COMMUTE C
			  JOIN EMPLOYEE E
			    ON C.EMP_ID = E.EMP_ID
			 WHERE E.EMP_ID = #{empId}
			 ORDER BY CMMT_DATE DESC
	</select> -->



</mapper>