<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.login.dao.LoginLogDao">
    <select id="getOneEmployeeByEmpIdAndPwd" parameterType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO" resultType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
        SELECT EMP_ID
             , WORK_STS
             , EMP_NAME
             , PWD
             , SALT
             , ADMN_CODE
             , LGN_YN
          FROM EMPLOYEE
         WHERE EMP_ID = #{empId}
           AND PWD = #{pwd}
    </select>
    
    <update id="getOneEmpIdUseOtherPlace"
    		parameterType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
    		UPDATE EMPLOYEE
    		   SET LGN_YN = 'Y'
    		 WHERE EMP_ID = #{empId}
    </update>
    
    <update id="getOneEmpIdNotUseNow"
    		parameterType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
    		UPDATE EMPLOYEE
    		   SET LGN_YN = 'N'
    		 WHERE EMP_ID = #{empId}
    </update>
    
</mapper>