<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.survey.dao.SurveyQuestionDao">

  	<resultMap type="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionVO" 
  	           id="SurveyQuestionVOMap"
  	           autoMapping="true">
		<id column="SRV_ID" property="srvId" />
		<association property="projectVO"
					 javaType="com.ktdsuniversity.edu.pms.project.vo.ProjectVO">
			<id column="PRJ_ID" property="prjId" />
			<result column="PRJ_NAME" property="prjName" />
			<result column="CLNT_INFO" property="clntInfo" />
			<result column="DEPT_ID" property="deptId" />
			<result column="PRJ_STS" property="prjSts" />
			<result column="STRT_DT" property="strtDt" />
			<result column="END_DT" property="endDt" />
		</association>
	</resultMap>

	<select id="getAllSurvey" resultMap="SurveyQuestionVOMap">
		SELECT sq.SRV_ID
			 , sq.PRJ_ID
			 , sq.SRV_QST
			 , sq.CRTR_ID
			 , sq.CRT_DT
			 , sq.MDFR_ID
			 , sq.MDF_DT
			 , sq.DEL_YN
			 , sq.SEQ
			 , sq.TYPE_YN
			 , sq.SRV_STS
			 , p.PRJ_ID
			 , p.PRJ_NAME
			 , p.CLNT_INFO
			 , p.DEPT_ID
			 , p.PRJ_STS
			 , p.STRT_DT
			 , p.END_DT
		  FROM SURVEY_QUESTION sq
		  JOIN PROJECT p
		    ON p.PRJ_ID = sq.PRJ_ID
		 WHERE p.DEL_YN = 'N'
		   AND sq.DEL_YN = 'N'
	</select>
	
	<insert id="insertNewSurveyQuestion" parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionVO">
		INSERT INTO SURVEY_QUESTION
		 (SRV_ID
		, PRJ_ID
		, SRV_QST
		, CRTR_ID
		, CRT_DT
		, MDFR_ID
		, MDF_DT
		, DEL_YN
		, SEQ
		, TYPE_YN
		, SRV_STS)
		VALUES
		 (('SRV_QST_' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_SURVEY_QUESTION_PK.NEXTVAL, 6, '0'))
		, #{prjId}
		, #{srvQst}
		, #{crtrId}
		, SYSDATE
		, NULL
		, NULL
		, 'N'
		, 1
		, #{typeYn}
		, 'N')
	</insert>
	
	<select id="selectOneSurvey" parameterType="String" resultMap="SurveyQuestionVOMap">
		SELECT *
		  FROM SURVEY_QUESTION
		 WHERE DEL_YN = 'N'
		   AND PRJ_ID = #{_parameter}
	</select>
	
	<update id="updateOneSurvey" parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionVO">
		UPDATE SURVEY_QUESTION
		   SET SRV_QST = #{srvQst}
			 , MDFR_ID = #{mdfrId}
			 , MDF_DT = SYSDATE
		 WHERE SRV_ID = #{srvId}
	</update>
	
	<update id="deleteOneSurvey" parameterType="String">
		UPDATE SURVEY_QUESTION
		   SET DEL_YN = 'Y'
		 WHERE PRJ_ID = #{_parameter}
	</update>
	
	<update id="deleteOneSurveyQuestion" parameterType="String">
		UPDATE SURVEY_QUESTION
		   SET DEL_YN = 'Y'
		 WHERE PRJ_ID = #{_parameter}
	</update>

</mapper>
