<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.survey.dao.SurveyReplyDao">

	<resultMap type="com.ktdsuniversity.edu.pms.survey.vo.SurveyReplyVO"
			   id="SurveyReplyVOMap"
			   autoMapping="true">
		<id column="SRV_RPL_ID" property="srvRplId" />
		<association property="surveyQuestionVO"
					 javaType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionVO">
			<id column="SRV_ID" property="srvId" />
			<result column="PRJ_ID" property="prjId" />
			<result column="SRV_QST" property="srvQst" />
			<result column="DEL_YN" property="delYn" />
			<result column="SEQ" property="seq" />
			<result column="TYPE_YN" property="typeYn" />
		</association>
		<!-- <association property="surveyQuestionPickVO"
					 javaType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionPickVO">
			<id column="SQP_ID" property="sqpId" />
			<result column="SQP_CNTNT" property="sqpCntnt" />
			<result column="NEXT_ID" property="nextId" />
			<result column="DEL_YN" property="delYn" />
			<result column="SEQ" property="seq" />
		</association> -->
	</resultMap>
	
	<!-- <select id="getAllSurveysForUser" parameterType="com.ktdsuniversity.edu.pms.survey.vo.SearchSurveyReplyVO"
			resultMap="SurveyReplyVOMap">
		SELECT sr.SRV_RPL_ID
			 , sr.SRV_ID
			 , sr.SRV_RPL_CNTNT
			 , sr.CRTR_ID
			 , sr.CRT_DT
			 , sr.MDFR_ID
			 , sr.MDF_DT
			 , sr.DEL_YN
			 , sq.PRJ_ID
			 , sq.SRV_QST
			 , sq.DEL_YN
			 , sq.SEQ
			 , sq.TYPE_YN
			 , sqp.SQP_ID
			 , sqp.SQP_CNTNT
			 , sqp.NEXT_ID 
			 , sqp.DEL_YN
			 , sqp.SEQ 
		  FROM SURVEY_REPLY sr
		  JOIN SURVEY_QUESTION sq
		    ON sq.SRV_ID = sr.SRV_ID
		  JOIN SURVEY_QUESTION_PICK sqp
		    ON sqp.SRV_ID = sq.SRV_ID
	</select> -->
	
	<insert id="insertNewSurvey" parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyReplyVO">
		INSERT INTO SURVEY_REPLY
		 (SRV_RPL_ID
		, SRV_ID
		, SRV_RPL_CNTNT
		, CRTR_ID
		, CRT_DT
		, MDFR_ID
		, MDF_DT
		, DEL_YN)
		 VALUES
		 ('SRV_RPL_' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_SURVEY_REPLY_PK.NEXTVAL, 6, '0')
		, #{srvId}
		, #{srvRplCntnt}
		, #{crtrId}
		, #{crtDt}
		, NULL
		, NULL
		, 'N')
	</insert>

</mapper>