<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.survey.dao.SurveyReplyDao">

	<resultMap type="com.ktdsuniversity.edu.pms.survey.vo.SurveyReplyVO" 
			   id="surveyReplyVOMap"
			   autoMapping="true">
		<id column="SRV_RPL_ID" property="srvRplId"/>
		<association property="surveyQuestionVO"
					 javaType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionVO">
			<id column="SRV_ID" property="srvId"/>
			<result column="PRJ_ID" property="prjId"/>
			<result column="SRV_QST" property="srvQst"/>
		</association>
	</resultMap>

	<insert id="insertSurveyAnswer" parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyReplyVO">
		INSERT INTO SURVEY_REPLY
		 (SRV_RPL_ID
		, SRV_ID
		, SRV_RPL_CNTNT
		, CRTR_ID
		, CRT_DT
		, MDFR_ID
		, MDF_DT
		, DEL_YN)
		VALUES
		 ('SRV_RPL_' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_SURVEY_REPLY_PK.NEXTVAL, 6, '0')
		, #{srvId}
		, #{srvRplCntnt}
		, ${crtrId}
		, SYSDATE
		, NULL
		, NULL
		, 'N')
	</insert>
	
	<select id="getAllReplies" parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyReplyVO" resultMap="surveyReplyVOMap">
		SELECT SRV_RPL_ID
			 , SRV_ID
			 , SRV_RPL_CNTNT
			 , CRTR_ID
			 , CRT_DT
			 , MDFR_ID
			 , MDF_DT
			 , DEL_YN
		  FROM SURVEY_REPLY
		 WHERE SRV_ID = #{srvId}
		   AND DEL_YN = 'N'
	</select>

</mapper>