<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.survey.dao.SurveyQuestionPickDao">
	
	<resultMap type="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionPickVO"
			   id="SurveyQuestionPickVoMap"
			   autoMapping="true">
		<id column="SQP_ID" property="sqpId" />
		<association property="surveyQuestionVO"
					 javaType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionVO">
			<id column="SRV_ID" property="srvId" />
		</association>
	</resultMap>
	
	<insert id="createNewAnswer" 
			parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionPickVO">
		INSERT INTO SURVEY_QUESTION_PICK
		 (SQP_ID
		, SRV_ID
		, SQP_CNTNT
		, NEXT_ID
		, CRTR_ID
		, CRT_DT
		, MDFR_ID
		, MDF_DT
		, DEL_YN
		, SEQ)
		VALUES
		 (('SRV_QST_P_' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_SURVEY_QUESTION_PICK_PK.NEXTVAL, 6, '0'))
		, #{srvId}
		, #{sqpCntnt}
		, #{nextId}
		, #{crtrId}
		, SYSDATE
		, NULL
		, NULL
		, 'N'
		, #{seq})
	</insert>

</mapper>