<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.survey.dao.SurveyQuestionPickDao">
	
	<resultMap type="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionPickVO"
			   id="SurveyQuestionPickVoMap"
			   autoMapping="true">
		<id column="SQP_ID" property="sqpId" />
		<association property="surveyQuestionVO"
					 javaType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionVO">
			<id column="SRV_ID" property="srvId" />
		</association>
	</resultMap>
	
	<insert id="createNewAnswer" 
			parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionPickVO">
		
		<selectKey keyProperty="sqpId" order="BEFORE" resultType="string">
			SELECT 'SRV_QST_P_' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_SURVEY_QUESTION_PICK_PK.NEXTVAL, 6, '0')
			  FROM DUAL
		</selectKey>
		
		INSERT INTO SURVEY_QUESTION_PICK
		 (SQP_ID
		, SRV_ID
		, SQP_CNTNT
		, NEXT_ID
		, DEL_YN
		, SEQ
		, SQP_COUNT)
		VALUES
		 (#{sqpId}
		, #{srvId}
		, #{sqpCntnt}
		, #{nextId}
		, 'N'
		, #{seq}
		, 0)
	</insert>
	
	<select id="getOneAnswer" parameterType="String" resultMap="SurveyQuestionPickVoMap">
		SELECT SQP_ID
			 , SRV_ID
			 , SQP_CNTNT
			 , NEXT_ID
			 , DEL_YN
			 , SEQ
		  FROM SURVEY_QUESTION_PICK
		 WHERE DEL_YN = 'N'
		   AND SQP_ID = #{_parameter}
		 ORDER BY SEQ ASC
	</select>
	
	<update id="modifyOneAnswer" parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionPickVO">
		UPDATE SURVEY_QUESTION_PICK
		   SET SQP_CNTNT = #{sqpCntnt}
		     , NEXT_ID = #{nextId}
		 WHERE SQP_ID = #{sqpId}
	</update>
	
	<select id="getOneAnswerSequence" parameterType="String" resultMap="SurveyQuestionPickVoMap">
		SELECT SEQ
		  FROM SURVEY_QUESTION_PICK
		 WHERE DEL_YN = 'N'
		   AND SQP_ID = #{_parameter}
		 ORDER BY SEQ ASC
	</select>
	
	<update id="modifyOneAnswerSequence" parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionPickVO">
		UPDATE SURVEY_QUESTION_PICK
		   SET SEQ = #{seq}
		 WHERE SQP_ID = #{sqpId}
	</update>
	
	<select id="getAllPicks" parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionPickVO"
			resultMap="SurveyQuestionPickVoMap">
		SELECT SQP_ID
			 , SRV_ID
			 , SQP_CNTNT
			 , SQP_COUNT
			 , NEXT_ID
			 , DEL_YN
			 , SEQ
		  FROM SURVEY_QUESTION_PICK
		 WHERE DEL_YN = 'N'
		   AND SRV_ID = #{srvId}
		 ORDER BY SEQ ASC
	</select>
	
	<update id="deleteOneAnswer" parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyQuestionPickVO">
		UPDATE SURVEY_QUESTION_PICK
		     , DEL_YN = 'Y'
		 WHERE SQP_ID = #{sqpId}
	</update>
	
	<update id="updateAllSqpCountPlusOneByReply" 
			parameterType="com.ktdsuniversity.edu.pms.survey.vo.SurveyReplyVO">
		UPDATE SURVEY_QUESTION_PICK 
		   SET SQP_COUNT = SQP_COUNT + 1
		 WHERE SQP_ID IN (SELECT SQP_ID
						    FROM SURVEY_REPLY 
						   WHERE SRV_ID IN (SELECT DISTINCT SQ.SRV_ID 
							                  FROM SURVEY_QUESTION SQ
							                  JOIN SURVEY_QUESTION_PICK SQP
							                    ON SQ.SRV_ID = SQP.SRV_ID
							                 WHERE SQ.PRJ_ID = #{surveyQuestionVO.prjId})
						     AND SQP_ID IS NOT NULL
						     AND DEL_YN = 'N' 
						     AND CRTR_ID = #{crtrId}
						     AND SQP_ID = #{sqpId})
	</update>
</mapper>