.modal {
    height: 210px;
    width: 401px;
    margin: auto;
    border: 1px solid #777;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    text-align: center;
    /* 모달 상자 내부에서 'X' 버튼이 차지하는 공간을 고려하여 상단 패딩을 조정합니다. */
    /* 'X' 버튼의 높이 + 원하는 여백 */
    padding: 40px 10px 10px;
    animation: slidefade 0.5s ease-in-out;
}

.modal-content {
    /* 적절한 패딩 값을 설정하여 모달 내용과 'X' 버튼이 겹치지 않도록 합니다. */
    padding-top: 20px;
}

.modal-text {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-cancel-button {
    line-height: 1;
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
}

.close:after {
    content: "\00d7";
    font-size: 25pt;
    position: absolute;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: #000;
    cursor: pointer;
}

@keyframes slidefade {
    0% {
        opacity: 0;
        margin-top: -100px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}