.btn-group {
    float: right;
}

.submit-btn {
    width: 7rem;
}

.search {
    justify-content: center;
}

.search-keyword {
    display: flex;
}

.search-keyword > * {
    padding-right: 0.825rem;
}

.search-category {
    padding-bottom: 11px;
}