:root {
  /* px 은 모두 rem (16px) 으로 변경 */
  /* 바디부분 배경화면색 */
  --body-bg: #fafafb;
  /* 박스 메인 색은 흰색 */
  --box-bg: #ffffff;
  /* 박스 서브 색은 기본 바디부분 색과 같이 함 */
  --box-sub-bg: #fafafb;
  /* 메인 컬러 */
  --main-color: #fd3636;
  /* 두번째 메인 컬러 정해보자... */
  --sub-color: #ff989870;
  /* 기본 글자 색 */
  --text-color: #000;
  /* 서브 글자 색 */
  --text-second-color: #72849ab3;
  /* 박스라인 컬러 */
  --border-color: #e9e9e9;
  /* 상태 색 */
  --primary: #696cff;
  --secondary: #8592a3;
  --success: #71dd37;
  --danger: #ff3e1d;
  --warning: #ffab00;
  --info: #03c3ec;
  --light: #fcfdfd;
  --dark: #233446;

  /* 15px -> 0.5rem 너무 동글동글해서 살짝 사무 느낌이 날 수 있도록 줄여보았다. */
  --box-border-radius: 0.5rem;

  /* 사이드 바 크기 300px */
  --sidebar-size: 18.75rem;

  /* 로고 사이즈 - 헤더 */
  --sidebar-logo-img-size: 3rem;
  --sidebar-logo-size: 5rem;

  /* 프로필 사진 크기 더 크게 할건지 생각하기*/
  --profile-image-size: 3rem;

  /* 헤더 크기 4rem */
  --main-header-height: 4rem;

  /* 그림자 조건 */
  --shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);

  /* 폰트 */
  --font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  position: relative;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

/* Header */
.header {
  background-color: var(--box-bg);
  padding-left: var(--sidebar-size);
}

.header-items {
  display: flex;
  justify-content: space-between;
}

.header-items-right {
  display: flex;
  align-items: center;
}

.header-logo {
  height: var(--sidebar-logo-size);
  position: relative;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  height: var(--sidebar-logo-img-size);
  max-width: 100%;
}

/* Sidebar */

.sidebar {
  background-color: var(--box-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-size);
  height: 100vh;
  box-shadow: var(--shadow);
  overflow-y: auto;
}

/* .sidebar-close {
  display: none;
} */

.sidebar-user {
  display: flex;
  align-items: center;
  padding: 15px;
}

.sidebar-user-name {
  margin-left: 10px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
}

.user-img {
  width: var(--profile-image-size);
  height: var(--profile-image-size);
  border-radius: 10px;
}

.sidebar-menu {
  padding: 10px 0;
  list-style-type: none;
}

.sidebar-submenu-content {
  width: 100%;
  padding: 15px;
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: color 0.2s ease-in-out;
}

.sidebar-submenu-content.active {
  background-color: var(--menu-item-active-bg);
  color: var(--main-color);
  border-right: 4px solid var(--main-color);
}

.sidebar-submenu-content:hover {
  color: var(--main-color);
}

.dropdown-icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

.sidebar-submenu-content {
  position: relative;
}

.sidebar-submenu-content .dropdown-icon {
  position: absolute;
  right: 15px;
}

.dropdown-icon {
  --size: 15px;
  --color: var(--text-color);
  height: var(--size);
  width: var(--size);
  position: relative;
  cursor: pointer;
}

.dropdown-icon::after,
.dropdown-icon::before {
  --height: 2px;
  content: "";
  width: 50%;
  height: var(--height);
  border-radius: 2.5px;
  position: absolute;
  top: calc(50% - var(--height) / 2);
  background-color: var(--color);
  transition: transform 0.3s ease;
}

.dropdown-icon::before {
  left: calc(50% - var(--height) / 3);
  transform-origin: center left;
  transform: rotate(-45deg);
}

.dropdown-icon::after {
  right: calc(50% - var(--height) / 3);
  transform-origin: right;
  transform: rotate(45deg);
}

.dropdown-icon.active::before {
  transform: rotate(45deg);
}

.dropdown-icon.active::after {
  transform: rotate(-45deg);
}

.sidebar-submenu-content:hover > .dropdown-icon {
  --color: var(--main-color);
}

.dropdown-menu {
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.25s ease-in-out;
}

.dropdown-menu > a {
  padding-left: 50px;
}

/* 나중에...  */
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--main-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.btn i {
  font-size: 1.25rem;
}

.btn-outline {
  border: 2px solid var(--main-color);
  transition: background-color 0.2s ease-in-out;
}

.btn-outline:hover {
  background-color: var(--main-color);
  color: #fff;
}

.main {
  padding-left: var(--sidebar-size);
}

.main-header {
  height: var(--main-header-height);
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--box-bg);
  box-shadow: var(--shadow);
}

.main-title {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.main-content {
  padding: 20px;
}

.box {
  background-color: var(--box-bg);
  padding: 20px;
  border: 0.5px solid var(--border-color);
  border-radius: var(--box-border-radius);
}

.box-hover:hover {
  border-color: var(--main-color);
}

.counter-title {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.counter-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 700;
}

.counter-info i {
  color: var(--main-color);
}

.box-header {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 700;
}

.box-body {
  padding: 20px 0;
}

.product-list {
  list-style-type: none;
}

.product-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-info img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.product-name,
.product-sales {
  font-weight: 600;
  text-transform: capitalize;
}

.product-name {
  margin-bottom: 5px;
}

.product-sales {
  margin-top: 5px;
}

.text-second {
  color: var(--text-second-color);
}

.item-sale-info {
  text-align: right;
}

.f-height {
  height: 100%;
}

table {
  width: 100%;
  min-width: 1000px;
}

.order-owner {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
}

.order-owner img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

table thead tr {
  text-align: left;
}

table th,
table td {
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.order-status {
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 500;
}

.order-ready {
  color: #2a59d1;
  background-color: rgba(62, 121, 247, 0.1);
}

.order-shipped {
  color: #00ab6f;
  background-color: rgba(4, 209, 130, 0.1);
}

.payment-status {
  display: flex;
  align-items: center;
}

.payment-status .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.payment-paid .dot {
  background-color: #04d182;
}

.payment-pending .dot {
  background-color: #ffc542;
}

.overflow-scroll {
  overflow-y: auto;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.overlay.active {
  display: block;
}

@media only screen and (max-width: 1280px) {
  .sidebar {
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
    z-index: 99;
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .main {
    padding-left: 0;
  }

  .mobile-toggle,
  .sidebar-close {
    display: grid;
    place-items: center;
    font-size: 2rem;
    margin-right: 30px;
    cursor: pointer;
  }

  .sidebar-close {
    position: absolute;
    right: -15px;
  }
}
