<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ktdsuniversity.edu.pms.review.dao.ReviewDao">
	
	<resultMap
		type="com.ktdsuniversity.edu.pms.review.vo.ReviewVO" id="ReviewVOMap"
		autoMapping="true">
		<id column="RV_ID" property="rvId" />
		<association property="projectVO"
			javaType="com.ktdsuniversity.edu.pms.project.vo.ProjectVO">
			<id column="PRJ_ID" property="prjId" />
			<result column="PRJ_NAME" property="prjName" />
			<result column="CLNT_INFO" property="clntInfo" />
			<result column="DEPT_ID" property="deptId" />
			<result column="PRJ_STS" property="prjSts" />
			<result column="STRT_DT" property="strtDt" />
			<result column="END_DT" property="endDt" />
		</association>
		<association property="departmentVO"
					 javaType="com.ktdsuniversity.edu.pms.department.vo.DepartmentVO">
			<id column="DEPT_ID" property="deptId" />
			<result column="DEPT_NAME" property="deptName" />
		</association>
		<association property="projectTeammateVO"
					 javaType="com.ktdsuniversity.edu.pms.project.vo.ProjectTeammateVO">
			<id column="PRJ_TM_ID" property="prjTmId" />
			<result column="TM_ID" property="tmId" />
			<result column="ROLE" property="role" />
		</association>
		<association property="employeeVO"
					 javaType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
			<id column="EMP_ID" property="empId" />
			<result column="EMP_NAME" property="empName" />
		</association>
	</resultMap>


	<insert id="insertNewReview" parameterType="com.ktdsuniversity.edu.pms.review.vo.ReviewVO">
		INSERT INTO PROJECT_REVIEW
			 (RV_ID
			, RV_CNTNT
			, PRJ_ID
			, CRT_DT
			, CRTR_ID
			, MDF_DT
			, MDFR_ID
			, DEL_YN
			)
		VALUES
		 (('RV_' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_PROJECT_REVIEW_PK.NEXTVAL, 6, '0'))
			, #{rvCntnt}
			, #{prjId}
			, SYSDATE
			, #{crtrId}
			, NULL
			, NULL
			, 'N')
	</insert>

	<!-- <insert id="insertNewReview" parameterType="com.ktdsuniversity.edu.pms.review.vo.ReviewVO">
		<selectKey resultType="string" keyProperty="rvId" order="BEFORE">
	        SELECT (('RV_' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_PROJECT_REVIEW_PK.NEXTVAL, 6, '0'))) FROM DUAL;       
	    </selectKey> 
		INSERT INTO PROJECT_REVIEW
			 (RV_ID
			, RV_CNTNT
			, PRJ_ID
			, CRT_DT
			, CRTR_ID
			, MDF_DT
			, MDFR_ID
			, DEL_YN
			)
		VALUES
		 	 (#{rvId}
			, #{rvCntnt}
			, #{prjId}
			, SYSDATE
			, #{crtrId}
			, NULL
			, NULL
			, 'N')
	</insert> -->
   
      
   <select id="searchReviewAllCount" 
   		   parameterType="com.ktdsuniversity.edu.pms.review.vo.SearchReviewVO"
           resultType="_int">
		<!-- SELECT COUNT(DISTINCT PRJ_ID)
		  FROM PROJECT  -->
		  
		SELECT COUNT(DISTINCT PRJ_NAME)
          FROM PROJECT 
  		 WHERE PRJ_STS = '409'
  
   </select>
	
	<select id="searchReview" 
	        parameterType="com.ktdsuniversity.edu.pms.review.vo.SearchReviewVO" 
	        resultMap="ReviewVOMap">
		<include refid ="Common.pagenate_header"/>
		SELECT DISTINCT p.PRJ_ID
	          , p.PRJ_NAME
	          , p.CLNT_INFO
	          , p.DEPT_ID
	          , p.PRJ_STS
	          , TO_CHAR(p.STRT_DT, 'YYYY/MM/DD') STRT_DT
	          , TO_CHAR(p.END_DT, 'YYYY/MM/DD') END_DT
	          , d.DEPT_NAME
	        FROM PROJECT p
	        JOIN DEPARTMENT d
	          ON p.DEPT_ID = d.DEPT_ID  
	       WHERE p.DEL_YN = 'N' 
	         AND p.PRJ_STS = '409'
	       
    	<include refid ="Common.pagenate_footer"/>
	</select>


   <select id="searchviewReviewCntntAllCount" 
   		   parameterType="com.ktdsuniversity.edu.pms.review.vo.SearchReviewVO"
           resultType="_int">
		SELECT COUNT(RV_ID)
		  FROM PROJECT_REVIEW 
   </select>

	<select id="searchViewReviewCntnt" 
	        parameterType="com.ktdsuniversity.edu.pms.review.vo.SearchReviewVO" 
	        resultMap="ReviewVOMap">
		<include refid ="Common.pagenate_header"/>
			SELECT pr.RV_ID
	             , pr.RV_CNTNT
	             , pr.DEL_YN
	          FROM PROJECT_REVIEW pr
	          JOIN PROJECT p
	            ON p.PRJ_ID = pr.PRJ_ID
	         WHERE p.DEL_YN = 'N'
	           AND pr.DEL_YN = 'N'
    	<include refid ="Common.pagenate_footer"/>
	</select>

	<select id="viewReviewCntnt" resultMap="ReviewVOMap">
			SELECT p.PRJ_NAME
				 , pr.RV_CNTNT 
				 , pr.RV_ID 
			  FROM PROJECT_REVIEW pr
			  JOIN PROJECT p
			    ON p.PRJ_ID = pr.PRJ_ID
			 WHERE pr.DEL_YN = 'N'
	</select>

	<!-- <select id="selectAllReview" 
	        parameterType="com.ktdsuniversity.edu.pms.review.vo.SearchReviewVO" 
	        resultMap="ReviewVOMap">
		SELECT DISTINCT sq.PRJ_ID
	          , p.PRJ_NAME
	          , p.CLNT_INFO
	          , p.DEPT_ID
	          , p.PRJ_STS
	          , TO_CHAR(p.STRT_DT, 'YYYY/MM/DD') STRT_DT
	          , TO_CHAR(p.END_DT, 'YYYY/MM/DD') END_DT
	          , d.DEPT_NAME
	        FROM PROJECT_REVIEW sq
	        JOIN PROJECT p
	          ON p.PRJ_ID = sq.PRJ_ID
	        JOIN DEPARTMENT d
	          ON d.DEPT_ID = p.DEPT_ID
	       WHERE p.DEL_YN = 'N'
	</select>	 -->
	
	
	
	
<!-- 	<select id="viewReviewCntnt" resultMap="ReviewVOMap">
			SELECT p.PRJ_NAME
				 , pr.RV_CNTNT 
				 , pr.RV_ID 
			  FROM PROJECT_REVIEW pr
			  JOIN PROJECT p
			    ON p.PRJ_ID = pr.PRJ_ID
			 WHERE pr.DEL_YN = 'N'
	</select> -->



	<!-- <update id="deleteOneReview" 
			parameterType="string">
		UPDATE PROJECT_REVIEW
		   SET DEL_YN = 'Y'
		 WHERE RV_ID = #{_parameter}
	</update> -->
	
	
	<update id="deleteReviewViewResult" 
			parameterType="string">
		UPDATE PROJECT_REVIEW
		   SET DEL_YN = 'Y'
		 WHERE RV_ID = #{_parameter}
	</update>
	
	<!-- 
	<update id="updateOneReview" 
			parameterType="com.ktdsuniversity.edu.pms.review.vo.ReviewVO">
		UPDATE PROJECT_REVIEW
		   SET RV_CNTNT = #{content}
		     , MDF_DT = SYSDATE
		 WHERE RV_ID = #{rvId}
	</update>
	 -->
	
	
</mapper>