<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.review.dao.ReviewDao">

    <select id="selectAllReview"
             resultType="com.ktdsuniversity.edu.pms.review.vo.ReviewVO">
        SELECT PR.RV_ID,
        PR.RV_ID,
        PR.RV_CNTNT,
        PR.PRJ_ID,
        PR.CRT_DT,
        PR.CRTR_ID,
        PR.MDF_DT,
        PR.MDFR_ID,
        PR.DEL_YN
        FROM PROJECT_REVIEW PR
        INNER JOIN PROJECT P
        ON PR.PRJ_ID = P.PRJ_ID 
    </select>
</mapper>