<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.approval.dao.ApprovalDao">

	<resultMap id="approvalVOMap" type="com.ktdsuniversity.edu.pms.approval.vo.ApprovalVO" autoMapping="true">
		<id column="APPR_ID" property="apprId"/>
		<association property="employeeVO" javaType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
            <id column="EMP_ID" property="empId"/>
            <result column="EMP_NAME" property="empName"/>
            <result column="PRFL" property="prfl"/>
        </association>
        <association property="commonCodeVO" javaType="com.ktdsuniversity.edu.pms.commoncode.vo.CommonCodeVO">
        	<id column="CMCD_ID" property="cmcdId"/>
        	<result column="CMCD_NAME" property="cmcdName"/>
        </association>
	</resultMap>
	
	
	

	<resultMap id="approvalDetailVOMap" type="com.ktdsuniversity.edu.pms.approval.vo.ApprovalVO" autoMapping="true">
		<id column="APPR_ID" property="apprId"/>
		<association property="employeeVO" javaType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
			<id column="EMP_ID" property="empId"/>
			<result column="EMP_NAME" property="empName"/>
			<result column="PRFL" property="prfl"/>
			<result column="E_DEL_YN" property="delYn"/>
		</association>
		<association property="employeeManagerVO" javaType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
			<id column="MNG_EMP_ID" property="empId"/>
			<result column="MNG_EMP_NAME" property="empName"/>
			<result column="MNG_EMP_PRFL" property="prfl"/>
			<result column="MNG_EMP_DEL_YN" property="delYn"/>
		</association>
		<association property="commonCodeVO" javaType="com.ktdsuniversity.edu.pms.commoncode.vo.CommonCodeVO">
			<id column="CMCD_ID" property="cmcdId"/>
			<result column="CMCD_NAME" property="cmcdName"/>
			<result column="CMCD_DEL_YN" property="delYn"/>
		</association>
		<collection property="approvalDetailVOList" ofType="com.ktdsuniversity.edu.pms.approval.vo.ApprovalDetailVO"
					column="APPR_ID">
			<id column="APPR_DTL_ID" property="apprDtlId"/>
			<result column="APPR_DTL_CUR_STR" property="curStr"/>
			<result column="APPR_DTL_DEL_YN" property="delYn"/>
			<association property="productVO" javaType="com.ktdsuniversity.edu.pms.product.vo.ProductVO">
				<id column="PRDT_ID" property="prdtId"/>
				<result column="PRDT_NAME" property="prdtName"/>
				<result column="PRDT_CTGR" property="prdtCtgr"/>
				<result column="P_CUR_STR" property="curStr"/>
				<result column="P_DEL_YN" property="delYn"/>
			</association>
		</collection>
	</resultMap>

	<select id="getAllCount" resultType="_int">	
		SELECT COUNT(*)
		  FROM APPROVAL A
		 INNER JOIN EMPLOYEE E
			ON A.DMD_ID = E.EMP_ID
		 WHERE A.DEL_YN = 'N'
	</select>
	
	<select id="getAllApproval" resultMap="approvalVOMap">
		SELECT A.APPR_ID
	         , TO_CHAR(A.DMD_DT, 'YYYY-MM-DD HH24:MI') DMD_DT
	         , A.APPR_CTGR
	         , A.APPR_STS
	         , A.APPR_TTL
	         , A.APPR_CNTNT
	         , A.DMD_ID
	         , A.APPR_MNG_ID
	         , A.ARRP_RJCT
	         , A.LAST_CN_DT
	         , A.APPR_FNSH_DT
	         , E.EMP_NAME
	         , E.PRFL
	      FROM APPROVAL A
	     INNER JOIN EMPLOYEE E
	        ON A.DMD_ID = E.EMP_ID 
	     WHERE A.DEL_YN = 'N'
	</select>
	
	<select id="getAllCountByEmpId" parameterType="string" resultType="_int">
		SELECT COUNT(1)
	      FROM APPROVAL A
	     INNER JOIN EMPLOYEE E
	        ON A.DMD_ID = E.EMP_ID 
	     WHERE A.DMD_ID = #{_parameter}
	       AND A.DEL_YN = 'N'
	</select>
	
	<select id="getAllApprovalByEmpId" parameterType="string" resultMap="approvalVOMap">
		SELECT A.APPR_ID
	         , TO_CHAR(A.DMD_DT, 'YYYY-MM-DD HH24:MM') DMD_DT 
	         , A.APPR_CTGR
	         , A.APPR_STS
	         , A.APPR_TTL
	         , A.APPR_CNTNT
	         , A.DMD_ID
	         , A.APPR_MNG_ID
	         , A.ARRP_RJCT
	         , A.LAST_CN_DT
	         , A.APPR_FNSH_DT
	         , E.EMP_NAME 
	         , CC.CMCD_NAME 
	      FROM APPROVAL A
	     INNER JOIN EMPLOYEE E
	        ON A.DMD_ID = E.EMP_ID 
	     INNER JOIN COMMON_CODE CC
	        ON E.PSTN_ID = CC.CMCD_ID 
	     WHERE A.DMD_ID = #{_parameter}
	       AND A.DEL_YN = 'N'
	</select>

	<select id="selectOneApproval" parameterType="string" resultMap="approvalVOMap">
		SELECT A.APPR_ID
		     , TO_CHAR(A.DMD_DT, 'YYYY-MM-DD HH24:MM') DMD_DT
		     , A.APPR_CTGR
		     , A.APPR_STS
		     , A.APPR_TTL
		     , A.APPR_CNTNT
		     , A.DMD_ID
		     , A.APPR_MNG_ID
		     , A.ARRP_RJCT
		     , A.LAST_CN_DT
		     , A.APPR_FNSH_DT
		     , E.EMP_NAME
		     , CC.CMCD_NAME
		  FROM APPROVAL A
		 INNER JOIN EMPLOYEE E
		    ON A.DMD_ID = E.EMP_ID
		 INNER JOIN COMMON_CODE CC
		    ON E.PSTN_ID = CC.CMCD_ID
		 WHERE A.APPR_ID = #{_parameter}
		   AND A.DEL_YN = 'N'
	</select>

	<select id="selectOneApprovalAll" parameterType="string" resultMap="approvalDetailVOMap">
		SELECT A.APPR_ID
			 , TO_CHAR(A.DMD_DT, 'YYYY-MM-DD HH24:MI') DMD_DT
			 , A.APPR_CTGR
			 , A.APPR_STS
			 , A.APPR_TTL
			 , A.APPR_CNTNT
			 , E.EMP_NAME
			 , E_MNG.EMP_NAME MNG_EMP_NAME
			 , CC.CMCD_NAME
			 , P.PRDT_CTGR
			 , P.PRDT_NAME
			 , AD.CUR_STR APPR_DTL_CUR_STR
			 , P.CUR_STR P_CUR_STR
		  FROM APPROVAL A
		 INNER JOIN EMPLOYEE E
		    ON E.EMP_ID = A.DMD_ID
		 INNER JOIN EMPLOYEE E_MNG
		    ON E_MNG.EMP_ID = A.APPR_MNG_ID
		 INNER JOIN COMMON_CODE CC
		    ON CC.CMCD_ID = E.PSTN_ID
		 INNER JOIN APPROVAL_DETAIL AD
		    ON A.APPR_ID = AD.APPR_ID
		 INNER JOIN PRODUCT P
		    ON P.PRDT_ID = AD.PRDT_ID
		 WHERE A.APPR_ID = #{_parameter}
		   AND A.DEL_YN = 'N'
	</select>

	<update id="updateApprovalStatus" parameterType="com.ktdsuniversity.edu.pms.approval.vo.ApprovalVO">
		UPDATE APPROVAL
		   SET APPR_STS = #{apprSts}
			 , APPR_FNSH_DT = SYSDATE
		 WHERE APPR_ID = #{apprId}
	</update>
	
	<update id="deleteApproval" parameterType="string">
  		UPDATE APPROVAL
		   SET DEL_YN='Y'
		 WHERE APPR_ID= #{_parameter}
  	</update>
  	

  	<update id="updateApproval" parameterType="string">
  		UPDATE APPROVAL
			SET 
			ARRP_RJCT='품목 변경'  
			,APPR_FNSH_DT=SYSDATE 
			WHERE APPR_ID='';
  	</update>
  	
  	<select id="getAllApproveCount" resultType="_int">
  		SELECT COUNT(1)
			FROM APPROVAL A
			INNER JOIN EMPLOYEE e 
			ON e.EMP_ID =A.DMD_ID
			WHERE A.DEL_YN = 'N'
			AND APPR_STS  IN ('801','803') 
  	</select>
  	
  	<select id="getAllOneWeekApprovalCount" resultType="_int"> 
  		SELECT COUNT(1)
			FROM APPROVAL A
			INNER JOIN EMPLOYEE e 
			ON e.EMP_ID = A.DMD_ID
			<![CDATA[WHERE DMD_DT < SYSDATE - 7]]>
			AND APPR_STS  IN ('801','803') 
  	</select>
  	
   <select id="getAllMonthApprovalCount" resultType="_int">
   		SELECT COUNT(1)
		FROM APPROVAL a
		INNER JOIN EMPLOYEE e 
		ON e.EMP_ID =a.DMD_ID
		<![CDATA[WHERE DMD_DT >= TRUNC(SYSDATE) - INTERVAL '1' MONTH]]> 
		AND APPR_STS  IN ('802') 
   </select>
   
   <select id="searchBoardAllCount" resultType="_int">
		SELECT COUNT(1) 
		FROM APPROVAL a
		INNER JOIN EMPLOYEE e 
		ON e.EMP_ID =a.DMD_ID 
	</select>
   
   <select id="searchAllBoard" 
   			parameterType="com.ktdsuniversity.edu.pms.approval.vo.ApprovalVO" 
			resultMap="approvalVOMap">
		<include refid="Common.pagenate_header" />
		SELECT A.APPR_ID
	         , TO_CHAR(A.DMD_DT, 'YYYY-MM-DD HH24:MI') DMD_DT
	         , A.APPR_CTGR
	         , A.APPR_STS
	         , A.APPR_TTL
	         , A.APPR_CNTNT
	         , A.DMD_ID
	         , A.APPR_MNG_ID
	         , A.ARRP_RJCT
	         , A.LAST_CN_DT
	         , A.APPR_FNSH_DT
	         , E.EMP_NAME
	         , E.PRFL
	      FROM APPROVAL A
	     INNER JOIN EMPLOYEE E
	        ON A.DMD_ID = E.EMP_ID 
	     WHERE A.DEL_YN = 'N'
		<include refid="Common.pagenate_footer" />
  </select>
   
   
   <select id="selectAllApprovalCount" parameterType="com.ktdsuniversity.edu.pms.approval.vo.SearchApprovalVO" 
			resultType="_int">
		SELECT COUNT(*) 
		FROM APPROVAL
		INNER JOIN EMPLOYEE e
		ON  e.EMP_ID=#{empId}
		<if test='searchKeyword != null and searchKeyword != ""'>
		    <choose>
		        <when test='searchType == "title"'>
		            AND APPR_TTL LIKE '%' ||  #{searchKeyword} || '%'
		        </when>
		        <when test='searchType == "employ"'>
		            AND e.EMP_ID LIKE '%' ||  #{searchKeyword} || '%'
		        </when>
		    </choose>
		</if>
		
  </select>
 
  <select id="searchBoard" 
   			parameterType="com.ktdsuniversity.edu.pms.approval.vo.SearchApprovalVO" 
			resultMap="approvalVOMap">
		<include refid="Common.pagenate_header" />
		SELECT A.APPR_ID
	         , TO_CHAR(A.DMD_DT, 'YYYY-MM-DD HH24:MM') DMD_DT 
	         , A.APPR_CTGR
	         , A.APPR_STS
	         , A.APPR_TTL
	         , A.APPR_CNTNT
	         , A.DMD_ID
	         , A.APPR_MNG_ID
	         , A.ARRP_RJCT
	         , A.LAST_CN_DT
	         , A.APPR_FNSH_DT
	         , E.EMP_NAME 
	         , CC.CMCD_NAME 
	      FROM APPROVAL A
	     INNER JOIN EMPLOYEE E
	        ON A.DMD_ID = E.EMP_ID 
	     INNER JOIN COMMON_CODE CC
	        ON E.PSTN_ID = CC.CMCD_ID 
	     WHERE A.DMD_ID = #{empId}         
	       AND A.DEL_YN = 'N'
	     <if test='searchKeyword != null and searchKeyword != ""'>
		    <choose>
		        <when test='searchType == "title"'>
		           AND a.APPR_TTL =  #{searchKeyword} 
		        </when>
		        <when test='searchType == "employ"'>
		               AND e.EMP_ID =  #{searchKeyword}
		        </when>
		    </choose>
		</if>
		<include refid="Common.pagenate_footer" />
  </select>
   
  	
  	
</mapper> 