<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.approval.dao.ApprovalDetailDao">
	
	<resultMap type="com.ktdsuniversity.edu.pms.approval.vo.ApprovalDetailVO" id="approvalDetailVOMap" autoMapping="true">
		<id column="APPR_DTL_ID" property="apprDtlId"/>	  
		<association property="approvalVO" javaType="com.ktdsuniversity.edu.pms.approval.vo.ApprovalVO">
			<id column="APPR_ID" property="apprId"/>		
			<result column=" ARRP_RJCT" property="apprRjct"/>					   
		</association>
		<association property="productVO" javaType="com.ktdsuniversity.edu.pms.product.vo.ProductVO">
			<id column="PRDT_ID" property="prdtId"/>								   
		</association>
	</resultMap>
	
	<select id="getAllApprovalDetail" resultType="com.ktdsuniversity.edu.pms.approval.vo.ApprovalDetailVO">
  		SELECT APPR_DTL_ID 
  			 ,APPR_ID 
  			 ,PRDT_ID 
  			 ,CUR_STR
  			 ,DEL_YN
			FROM APPROVAL_DETAIL
			WHERE DEL_YN='N'
  	</select>
  	
  	<insert id="insertApprovalDetail" parameterType="com.ktdsuniversity.edu.pms.approval.vo.ApprovalDetailVO">
		INSERT INTO APPROVAL_DETAIL
		     ( APPR_DTL_ID
		     , APPR_ID
		     , PRDT_ID
		     , CUR_STR
		     , DEL_YN )
		VALUES
		     ( 'APPR_DTL_' || TO_CHAR(SYSDATE, 'YYMMDD')
		            || '_' || LPAD(SEQ_APPR_PK.NEXTVAL, 6, '0')
		     , #{apprId}
		     , #{prdtId}
		     , 1
		     , 'N')
  	</insert>
  	
  	<!-- PSH0422 -->
	<select id="getPersonApproval"  parameterType="string" resultMap="approvalDetailVOMap">
  		SELECT AD.APPR_ID
			 , A.ARRP_RJCT
			 , AD.PRDT_ID
			 , AD.CUR_STR
			 , P.PRDT_NAME
		 FROM APPROVAL_DETAIL AD
		INNER JOIN APPROVAL A
		   ON AD.APPR_ID = A.APPR_ID
		INNER JOIN EMPLOYEE E
		   ON E.EMP_ID = A.DMD_ID
		INNER JOIN PRODUCT P
		   ON P.PRDT_ID = AD.PRDT_ID
		WHERE A.DEL_YN = 'N'
		  AND AD.APPR_ID = #{_parameter}
  	</select>

	<insert id="insertApprovalDetailList" parameterType="list">
		INSERT INTO APPROVAL_DETAIL
		     ( APPR_DTL_ID
		     , APPR_ID
		     , PRDT_ID
		     , CUR_STR
		     , DEL_YN )
		     SELECT 'APPR_DT_' || TO_CHAR(SYSDATE, 'YYMMDD')
		     || '_' || LPAD(SEQ_APPR_DT_PK.NEXTVAL, 6, '0'), AD.*
		 FROM (
		<foreach collection="list" item="approvalDetailVO" separator="UNION ALL">
			SELECT
			#{approvalDetailVO.apprId} AS APPR_ID
			, #{approvalDetailVO.prdtId} AS PRDT_ID
			, 1 AS CUR_STR
			, 'N' AS DEL_YN
			FROM DUAL
		</foreach>
		) AD
	</insert>

	<select id="getPrdtCountByApprId" parameterType="string" resultType="int">
		SELECT COUNT(*)
		  FROM APPROVAL_DETAIL
		 WHERE APPR_ID = #{_parameter}
	</select>

	<select id="getPrdtNameByApprId" parameterType="string" resultType="string">
		SELECT P.PRDT_NAME
		  FROM APPROVAL_DETAIL AD
		 INNER JOIN PRODUCT_MANAGEMENT PM
		    ON PM.PRDT_MNG_ID = AD.PRDT_ID
		 INNER JOIN PRODUCT P
		    ON P.PRDT_ID = PM.PRDT_ID
		 WHERE AD.APPR_ID = #{_parameter}
	</select>

	<update id="deleteApprovalDetail" parameterType="string">
		UPDATE APPROVAL_DETAIL
		   SET DEL_YN = 'Y'
		 WHERE APPR_ID = #{_parameter}
	</update>

</mapper>