<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.product.dao.ProductManagementDao">

	<resultMap type="com.ktdsuniversity.edu.pms.product.vo.ProductManagementVO" id="ProductManagementVOMap" autoMapping="true">
		<id column="PRDT_MNG_ID" property="prdtMngId" />
		<association property="productVO" javaType="com.ktdsuniversity.edu.pms.product.vo.ProductVO">
			<id column="PRDT_ID" property="prdtId" />
			<result column="PRDT_NAME" property="prdtName"/>
		</association>
		<association property="approvalDetailVO" javaType="com.ktdsuniversity.edu.pms.approval.vo.ApprovalDetailVO">
			<id column="APPR_DTL_ID" property="apprDtlId"/>
			<result column="APPR_ID" property="apprId"/>
			<result column="APPR_DTL_DEL_YN" property="delYn"/>
		</association>
	</resultMap>

	<select id="getProductManagementCount" 
			parameterType="com.ktdsuniversity.edu.pms.product.vo.ProductManagementVO"
			resultType="_int">
		SELECT COUNT(1)
		  FROM PRODUCT_MANAGEMENT PM
		 INNER JOIN PRODUCT P
		    ON P.PRDT_ID = PM.PRDT_ID
		 WHERE PM.DEL_YN = 'N'
	</select>
	
	<select id="getAllProductManagement" 
			parameterType="com.ktdsuniversity.edu.pms.product.vo.ProductManagementVO"
			resultMap="ProductManagementVOMap">
		SELECT PM.PRDT_MNG_ID
			 , PM.PRDT_PRICE
			 , TO_CHAR(PM.BUY_DT, 'YYYY-MM-DD') BUY_DT
			 , PM.LOST_YN
			 , TO_CHAR(PM.LOST_DT, 'YYYY-MM-DD') LOST_DT
			 , PM.BRRW_YN
			 , PM.PRDT_ID
			 , PM.DEL_YN
			 , P.PRDT_NAME 
		  FROM PRODUCT_MANAGEMENT PM
		 INNER JOIN PRODUCT P
		    ON P.PRDT_ID = PM.PRDT_ID 
		 WHERE PM.DEL_YN = 'N'
	</select>
	
	<select id="searchProductManagementAllCount" 
			parameterType="com.ktdsuniversity.edu.pms.product.vo.ProductManagementVO"
			resultType="_int">
		SELECT COUNT(1)
		  FROM PRODUCT_MANAGEMENT PM
		 INNER JOIN (SELECT P_I.*
						  , REPLACE(P_I.PRDT_NAME, ' ', '') AS SEARCH_PRDT_NAME
						  , REPLACE(#{searchKeyword}, ' ', '') AS SEARCH_KEYWORD
					   FROM PRODUCT P_I) P
		    ON P.PRDT_ID = PM.PRDT_ID
		 WHERE PM.DEL_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
			<choose>
				<when test='searchType == "productManagementId"'>
		   AND PM.PRDT_MNG_ID LIKE '%' || #{searchKeyword} || '%'
				</when>
				<when test='searchType == "productName"'>
		   AND SEARCH_PRDT_NAME LIKE '%' || SEARCH_KEYWORD || '%'
				</when>
			</choose>
		</if>
	</select>
	
	<select id="searchAllProductManagement" 
			parameterType="com.ktdsuniversity.edu.pms.product.vo.ProductManagementVO"
			resultMap="ProductManagementVOMap">
		<include refid="Common.pagenate_header" />
		SELECT PM.PRDT_MNG_ID
			 , PM.PRDT_PRICE
			 , TO_CHAR(PM.BUY_DT, 'YYYY-MM-DD') BUY_DT
			 , PM.LOST_YN
			 , TO_CHAR(PM.LOST_DT, 'YYYY-MM-DD') LOST_DT
			 , PM.BRRW_YN
			 , PM.PRDT_ID
			 , PM.DEL_YN
			 , P.PRDT_NAME 
		  FROM PRODUCT_MANAGEMENT PM
		 INNER JOIN (SELECT P_I.*
						  , REPLACE(P_I.PRDT_NAME, ' ', '') AS SEARCH_PRDT_NAME
						  , REPLACE(#{searchKeyword}, ' ', '') AS SEARCH_KEYWORD
					   FROM PRODUCT P_I) P
		    ON P.PRDT_ID = PM.PRDT_ID 
		 WHERE PM.DEL_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
			<choose>
				<when test='searchType == "productManagementId"'>
		   AND PM.PRDT_MNG_ID LIKE '%' || #{searchKeyword} || '%'
				</when>
				<when test='searchType == "productName"'>
		   AND SEARCH_PRDT_NAME LIKE '%' || SEARCH_KEYWORD || '%'
				</when>
			</choose>
		</if>
		
		<include refid="Common.pagenate_footer" />
	</select>
	
	<select id="getFilteringProductManagementCount" resultType="_int" parameterType="string">
		SELECT COUNT(1)
		  FROM PRODUCT_MANAGEMENT
		 WHERE DEL_YN = 'N'
		   AND PRDT_ID = #{_parameter}
	</select>
	
	<select id="getFilteringProductManagement" resultMap="ProductManagementVOMap" parameterType="string">
		SELECT PM.PRDT_MNG_ID
			 , PM.PRDT_PRICE
			 , TO_CHAR(PM.BUY_DT, 'YYYY-MM-DD') BUY_DT
			 , PM.LOST_YN
			 , TO_CHAR(PM.LOST_DT, 'YYYY-MM-DD') LOST_DT
			 , PM.BRRW_YN
			 , PM.PRDT_ID
			 , PM.DEL_YN
			 , P.PRDT_NAME 
		  FROM PRODUCT_MANAGEMENT PM
		 INNER JOIN PRODUCT P
		    ON P.PRDT_ID = PM.PRDT_ID 
		 WHERE PM.DEL_YN = 'N'
		   AND PM.PRDT_ID = #{_parameter}
	</select>
	
	<update id="deleteOneProductManagement" parameterType="string">
		UPDATE PRODUCT_MANAGEMENT 
		   SET DEL_YN = 'Y'
		 WHERE PRDT_MNG_ID = #{_parameter}
	</update>
	

	<select id="getOneProductManagement" resultType="com.ktdsuniversity.edu.pms.product.vo.ProductManagementVO" parameterType="string">
		SELECT PRDT_MNG_ID
			 , PRDT_PRICE
			 , BUY_DT
			 , LOST_YN
			 , LOST_DT
			 , BRRW_YN
			 , PRDT_ID
			 , DEL_YN
		  FROM PRODUCT_MANAGEMENT
		 WHERE PRDT_MNG_ID = #{_parameter}
	</select>
	
	<update id="modifyOneProductManagement" parameterType="com.ktdsuniversity.edu.pms.product.vo.ProductManagementVO">
		UPDATE PRODUCT_MANAGEMENT 
		   SET PRDT_PRICE = #{prdtPrice}
			 , BUY_DT = #{buyDt}
			 , LOST_YN = #{lostYn}
			 , LOST_DT = #{lostDt}
		 WHERE PRDT_MNG_ID = #{prdtMngId}
	</update>
	
	<update id="changeOneItemBrrwState" parameterType="string">
		UPDATE PRODUCT_MANAGEMENT
		   SET BRRW_YN = 'N'
		 WHERE PRDT_MNG_ID = #{_parameter}
	</update>
	
	<select id="getProductId" parameterType="string" resultType="string">
		SELECT PRDT_ID
		  FROM PRODUCT_MANAGEMENT
		 WHERE PRDT_MNG_ID = #{_parameter}
	</select>
	
	<insert id="addProductManagement" parameterType="com.ktdsuniversity.edu.pms.product.vo.ProductManagementVO">
		INSERT INTO PRODUCT_MANAGEMENT
			 (PRDT_MNG_ID
			, PRDT_PRICE
			, BUY_DT
			, LOST_YN
			, LOST_DT
			, BRRW_YN
			, PRDT_ID
			, DEL_YN)
			VALUES 
			 ('PRDT_MN_'||TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_PRDT_MN_PK.NEXTVAL, 6, '0')
			, #{prdtPrice}
			, #{buyDt}
			, 'N'
			, NULL
			, 'N'
			, #{prdtId}
			, 'N')
	</insert>
	
	<select id="getDelNCount" resultType="_int" parameterType="string">
		SELECT COUNT(1)
		  FROM PRODUCT_MANAGEMENT
		 WHERE DEL_YN = 'N'
		   AND PRDT_ID = #{_parameter}
	</select>
	
	<!-- PSH0422 -->
	<select id="getNewPrdtMngIdForBorrow" parameterType="string" resultType="string">
		SELECT PRDT.PRDT_MNG_ID
		  FROM (SELECT PM.PRDT_MNG_ID
			      FROM PRODUCT_MANAGEMENT PM
			     INNER JOIN PRODUCT P
			  	    ON PM.PRDT_ID = P.PRDT_ID
				 WHERE P.PRDT_NAME = #{_parameter}
		 		   AND PM.LOST_YN = 'N'
				   AND PM.BRRW_YN = 'N'
				   AND PM.DEL_YN = 'N'
				 ORDER BY PM.BUY_DT ASC) PRDT
				 WHERE ROWNUM = 1
	</select>
	
	<select id="selectPrdtForNewAppr" parameterType="string" resultMap="ProductManagementVOMap">
		SELECT PM.PRDT_MNG_ID 
	    	 , P.PRDT_CTGR 
	    	 , P.PRDT_NAME 
	    	 , BH.BRRW_DT 
	      FROM PRODUCT_MANAGEMENT PM
	     INNER JOIN PRODUCT P
	        ON P.PRDT_ID = PM.PRDT_ID 
	     INNER JOIN BORROW_HISTORY BH
	        ON BH.PRDT_MNG_ID = PM.PRDT_MNG_ID 
	     WHERE PM.PRDT_MNG_ID = #{_parameter}
	</select>

	<update id="unusablePrdtByAppr" parameterType="string">
		UPDATE PRODUCT_MANAGEMENT
		   SET BRRW_YN = 'N'
		     , DEL_YN = 'Y'
		 WHERE PRDT_MNG_ID IN (SELECT PRDT_ID
								 FROM APPROVAL_DETAIL
								WHERE APPR_ID = #{_parameter})
	</update>

	<update id="changeItemBrrwStateY" parameterType="string">
		UPDATE PRODUCT_MANAGEMENT
		   SET BRRW_YN = 'Y'
		 WHERE PRDT_MNG_ID = #{_parameter}
	</update>
	
</mapper>