<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.product.dao.ProductDao">
	
	<select id="getProductAllCount" 
			parameterType="com.ktdsuniversity.edu.pms.product.vo.ProductVO"
			resultType="_int">
		SELECT COUNT(1)
		  FROM PRODUCT
		 WHERE DEL_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
			<choose>
				<when test='searchType == "productId"'>
		   AND PRDT_ID LIKE '%' || #{searchKeyword} || '%'
				</when>
				<when test='searchType == "productName"'>
		   AND PRDT_NAME LIKE '%' || #{searchKeyword} || '%'
				</when>
				<when test='searchType == "category"'>
		   AND PRDT_CTGR LIKE '%' || #{searchKeyword} || '%'
				</when>
				<when test='searchType == "noSelect"'>
		   AND (PRDT_ID LIKE '%' || #{searchKeyword} || '%'
		   OR PRDT_NAME LIKE '%' || #{searchKeyword} || '%'
		   OR PRDT_CTGR LIKE '%' || #{searchKeyword} || '%')
				</when>
			</choose>
		</if>
	</select>
	
	<select id="getAllProduct" 
			parameterType="com.ktdsuniversity.edu.pms.product.vo.ProductVO"
			resultType="com.ktdsuniversity.edu.pms.product.vo.ProductVO">
		SELECT PRDT_ID
			 , PRDT_NAME
			 , PRDT_CTGR
			 , ONCE_YN
			 , CUR_STR
			 , DEL_YN
		  FROM PRODUCT
		 WHERE DEL_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
			<choose>
				<when test='searchType == "productId"'>
		   AND PRDT_ID LIKE '%' || #{searchKeyword} || '%'
				</when>
				<when test='searchType == "productName"'>
		   AND PRDT_NAME LIKE '%' || #{searchKeyword} || '%'
				</when>
				<when test='searchType == "category"'>
		   AND PRDT_CTGR LIKE '%' || #{searchKeyword} || '%'
				</when>
				<when test='searchType == "noSelect"'>
		   AND (PRDT_ID LIKE '%' || #{searchKeyword} || '%'
		   OR PRDT_NAME LIKE '%' || #{searchKeyword} || '%'
		   OR PRDT_CTGR LIKE '%' || #{searchKeyword} || '%')
				</when>
			</choose>
		</if>
	</select>
	
	<insert id="insertNewProduct" parameterType="com.ktdsuniversity.edu.pms.product.vo.ProductVO">
		INSERT INTO PRODUCT
			 (PRDT_ID
			, PRDT_NAME
			, PRDT_CTGR
			, ONCE_YN
			, CUR_STR
			, DEL_YN)
			VALUES
			 ('PRDT_'||TO_CHAR(SYSDATE, 'YYYYMMDD') || '_' || LPAD(SEQ_PRDT_PK.NEXTVAL, 6, '0')
			, #{prdtName}
			, #{prdtCtgr}
			, #{onceYn}
			, #{curStr}
			, 'N')
	</insert>
	
	<select id="selectOneProduct" parameterType="string" resultType="com.ktdsuniversity.edu.pms.product.vo.ProductVO">
		SELECT PRDT_ID
			 , PRDT_NAME
			 , PRDT_CTGR
			 , ONCE_YN
			 , CUR_STR
			 , DEL_YN
		  FROM PRODUCT
		 WHERE PRDT_ID = #{_parameter}
	</select>
	
	<update id="updateOneProduct" parameterType="string">
		UPDATE PRODUCT 
		   SET CUR_STR = CUR_STR - 1
		 WHERE PRDT_ID = #{_parameter}
	</update>

	<update id="changeOneProductCnt" parameterType="string">
		UPDATE PRODUCT 
		   SET CUR_STR = CUR_STR + 1
		 WHERE PRDT_ID = #{_parameter}
	</update>
	
	<update id="updateOneProductCount" parameterType="com.ktdsuniversity.edu.pms.product.vo.ProductVO">
		UPDATE PRODUCT 
		   SET CUR_STR = CUR_STR + #{curStr}
		 WHERE PRDT_ID = #{prdtId}
	</update>
	
	<update id="deleteOneProduct" parameterType="string">
		UPDATE PRODUCT 
		   SET DEL_YN = 'Y'
		 WHERE PRDT_ID = #{_parameter}
	</update>
	
	<update id="modifyProduct" parameterType="com.ktdsuniversity.edu.pms.product.vo.ProductVO">
		UPDATE PRODUCT 
		   SET PRDT_NAME = #{prdtName}
		     , PRDT_CTGR = #{prdtCtgr}
		     , ONCE_YN = #{onceYn}
		 WHERE PRDT_ID = #{prdtId}
	</update>

	<select id="getAllProductCategory" resultType="com.ktdsuniversity.edu.pms.product.vo.ProductVO">
		SELECT DISTINCT PRDT_CTGR, 1
		  FROM PRODUCT
	</select>
	
	<select id="getAllProductList" resultType="com.ktdsuniversity.edu.pms.product.vo.ProductVO">
		SELECT PRDT_ID
			 , PRDT_NAME
			 , PRDT_CTGR
			 , ONCE_YN
			 , CUR_STR
			 , DEL_YN
		  FROM PRODUCT
		 WHERE DEL_YN = 'N'
	</select>
	
</mapper>