.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px 130px 400px;
}
.main-info > .grid {
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr;
  grid-template-rows: 40px 40px 40px;
}

.sub-info > .grid {
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr;
  grid-template-rows: 40px 40px 40px;
}
