<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.pms.changehistory.dao.ChangeHistoryDao">
	
	<resultMap type="com.ktdsuniversity.edu.pms.changehistory.vo.PositionHistoryVO" id="positionHistMap" autoMapping="true">
		<id column="PSTN_ID" property="pstnId"/>
		<association property="commonVO" javaType="com.ktdsuniversity.edu.pms.commoncode.vo.CommonCodeVO">
			<id column="CMCD_ID" property="cmcdId"/>
			<result column="CMCD_NAME" property="cmcdName"/>
		</association>
	</resultMap>
	
	<resultMap type="com.ktdsuniversity.edu.pms.changehistory.vo.JobHistoryVO" id="jobHistMap" autoMapping="true">
		<id column="JOB_HIST_ID" property="jobHistId"/>
		<association property="jobVO" javaType="com.ktdsuniversity.edu.pms.job.vo.JobVO">
			<id column="JOB_ID" property="jobId"/>
			<result column="JOB_NAME" property="jobName"/>
		</association>
	</resultMap>

	<resultMap type="com.ktdsuniversity.edu.pms.changehistory.vo.DepartmentHistoryVO" id="deptHistMap" autoMapping="true">
		<id column="DEPT_HIST_ID" property="deptHistId"  />
		<association property="departmentVO" javaType="com.ktdsuniversity.edu.pms.department.vo.DepartmentVO">
			<id column="DEPT_ID" property="deptId"/>
			<result column="DEPT_NAME" property="deptName"/>
		</association>
	</resultMap>
	<insert id="insertOneChangeDeptHistory" parameterType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
		INSERT INTO DEPARTMENT_HISTORY
			  (DEPT_HIST_ID
			 , EMP_ID
			 , DEPT_STRT_DT
			 , DEPT_END_DT
			 , CN_NOTE
			 , DEL_YN
			 , PAST_DEPT_ID)
			 VALUES 
			  ('DEPT_HT_'||TO_CHAR(SYSDATE, 'YYYYMMDD') || '_' || LPAD(SEQ_DEPT_HT_PK.NEXTVAL, 6, '0')
			 , #{empId}
			 , #{hireDt}
			 , SYSDATE
			 , #{departmentHistoryVO.cnNote}
			 , 'N'
			 , #{deptId})
	</insert>                                         

	
	<select id="getRecentDeptHist" parameterType="string" resultType="string">
		SELECT TO_CHAR(D.DEPT_END_DT, 'YYYY-MM-DD') DEPT_END_DT
		  FROM (SELECT DEPT_END_DT
				  FROM DEPARTMENT_HISTORY
				 WHERE EMP_ID = #{_parameter}
				   AND DEL_YN = 'N'
				 ORDER BY DEPT_HIST_ID DESC ) D
		 WHERE ROWNUM = 1
	</select>
	
	<select id="getAllDeptHist" parameterType="string" resultMap="deptHistMap">
		SELECT DH.DEPT_HIST_ID
			 , DH.EMP_ID
			 , TO_CHAR(DH.DEPT_STRT_DT, 'YYYY-MM-DD') DEPT_STRT_DT
			 , TO_CHAR(DH.DEPT_END_DT, 'YYYY-MM-DD') DEPT_END_DT
			 , DH.CN_NOTE
			 , DH.PAST_DEPT_ID
			 , D.DEPT_NAME
		  FROM DEPARTMENT_HISTORY DH
		 INNER JOIN DEPARTMENT D
		    ON D.DEPT_ID = DH.PAST_DEPT_ID
		 WHERE DH.EMP_ID = #{_parameter}
		   AND DH.DEL_YN = 'N'
		 ORDER BY DEPT_STRT_DT DESC
	</select>

	<insert id="insertOneChangeJobHistory"
			parameterType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
		INSERT INTO JOB_HISTORY
		(JOB_HIST_ID
		, EMP_ID
		, JOB_STRT_DT
		, JOB_END_DT
		, CN_NOTE
		, DEL_YN
		, PAST_JOB_ID)
		VALUES
		('JOB_HT_' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_JOB_HT_PK.NEXTVAL, 6, 0)
		, #{empId}
		, #{hireDt}
		, SYSDATE
		, #{jobHistoryVO.cnNote}
		, 'N'
		, #{jobHistoryVO.pastJobId})
	</insert>

	<select id="getRecentJobHist" parameterType="string" resultType="string">
		SELECT TO_CHAR(JH.JOB_END_DT, 'YYYY-MM-DD') JOB_END_DT
		FROM (SELECT JOB_END_DT
		FROM JOB_HISTORY
		WHERE EMP_ID = #{_parameter}
		AND DEL_YN = 'N'
		ORDER BY JOB_HIST_ID DESC ) JH
		WHERE ROWNUM = 1
	</select>


	<select id="getAllJobHist" parameterType="string" resultMap="jobHistMap">
		SELECT JH.JOB_HIST_ID
			 , JH.EMP_ID
			 , JH.PAST_JOB_ID
			 , TO_CHAR(JH.JOB_STRT_DT, 'YYYY-MM-DD') JOB_STRT_DT
			 , TO_CHAR(JH.JOB_END_DT, 'YYYY-MM-DD') JOB_END_DT
			 , JH.CN_NOTE
			 , J.JOB_NAME
		  FROM JOB_HISTORY JH
		 INNER JOIN JOB J
		    ON J.JOB_ID = JH.PAST_JOB_ID 
		 WHERE JH.EMP_ID = #{_parameter}
		   AND JH.DEL_YN = 'N'
		 ORDER BY JOB_STRT_DT DESC
	</select>
	
	<select id="getUserJobHistory" parameterType="string" resultMap="jobHistMap">
	SELECT JH.JOB_HIST_ID
		 , JH.EMP_ID
		 , JH.PAST_JOB_ID
		 , TO_CHAR(JH.JOB_STRT_DT, 'YYYY-MM-DD') JOB_STRT_DT
		 , TO_CHAR(JH.JOB_END_DT, 'YYYY-MM-DD') JOB_END_DT
		 , JH.CN_NOTE
		 , J.JOB_NAME
	  FROM JOB_HISTORY JH
	  JOIN JOB J
	 	ON J.JOB_ID = JH.PAST_JOB_ID
	 WHERE JH.EMP_ID = #{_parameter}
	    AND JH.DEL_YN = 'N'
	  ORDER BY JOB_STRT_DT DESC
	</select>
	
	<insert id="insertOneChangePositionHistory" 
			parameterType="com.ktdsuniversity.edu.pms.employee.vo.EmployeeVO">
		INSERT INTO POSITION_HISTORY
		 (PSTN_ID
		 , EMP_ID
		 , PSTN_STRT_DT
		 , PSTN_END_DT
		 , CN_NOTE
		 , DEL_YN
		 , PAST_PSTN_ID)
		 VALUES  
		 ('PSTN_HT' || TO_CHAR(SYSDATE, 'YYMMDD') || '_' || LPAD(SEQ_PSTN_H_PK.NEXTVAL, 6, 0)
		 , #{empId}
		 , #{hireDt}
		 , SYSDATE
		 , #{positionHistoryVO.cnNote}
		 , 'N'
		 , #{positionHistoryVO.pastPstnId})
	</insert>
	
	
	
	<select id="getUserPositionHistory" parameterType="string" resultMap="positionHistMap">
		SELECT PH.PSTN_ID
			 , PH.EMP_ID
			 , PH.PAST_PSTN_ID
			 , TO_CHAR(PH.PSTN_STRT_DT, 'YYYY-MM-DD') PSTN_STRT_DT
			 , TO_CHAR(PH.PSTN_END_DT, 'YYYY-MM-DD') PSTN_END_DT
			 , PH.CN_NOTE
			 , C.CMCD_NAME
		  FROM POSITION_HISTORY PH
		 INNER JOIN COMMON_CODE C
		    ON C.CMCD_ID = PH.PAST_PSTN_ID
		 WHERE PH.EMP_ID = #{_parameter}
		   AND PH.DEL_YN = 'N'
		 ORDER BY PSTN_STRT_DT DESC
	</select>
	
	<select id="getRecentPositionHist" parameterType="string" resultType="string">
		SELECT TO_CHAR(PH.PSTN_END_DT, 'YYYY-MM-DD') PSTN_END_DT
		  FROM (SELECT PSTN_END_DT
				  FROM POSITION_HISTORY
				 WHERE EMP_ID = #{_parameter}
				   AND DEL_YN = 'N'
				 ORDER BY PSTN_ID DESC ) PH
		 WHERE ROWNUM = 1
	</select>
	
	<select id="getAllPosition" resultType="com.ktdsuniversity.edu.pms.commoncode.vo.CommonCodeVO">
		SELECT CMCD_ID
			 , CMCD_NAME
		  FROM COMMON_CODE
		 WHERE CMCD_PID = '100'
	</select>
	
</mapper>